# =========================
# Environment files
# =========================
.env
*.env
backend/.env
frontend/.env

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environments
venv/
.venv/
env/

# =========================
# Node
# =========================
node_modules/
frontend/node_modules/

# Build
dist/
build/
frontend/dist/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db